|<?php
|/**
|* Template Name: Front page
|*/
|?>
doctype html
html(<?php language_attributes(); ?>)
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        <?php wp_head(); ?>
    body(<?php body_class(); ?>)
        h1  Home page
        <?php $class = 'yellow'; ?>
        div.
            <?php if ( have_posts() ): ?>
            <?php while ( have_posts() ): ?>
            <?php the_post(); ?>
            <?php the_title(); ?>
             <?php the_content(); ?>
            <?php endwhile; ?>
            <?php wp_reset_postdata(); ?>
            <?php endif; ?>
        header.main-header
            h2.main-header__title Header title
            h3.main-header__subtitle Main header subtitle
            p Some text for header
        footer.main-footer
            h4(class!="<?php echo $class; ?>") Main footer
        <?php wp_footer(); ?>

