body {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: #444;
  background-color: #ccc;
}

.red {
  color: #f00;
}

.green {
  color: #008000;
}

.blue {
  color: #4169e1;
}

.yellow {
  color: blue;
}
