$green = green
$black = black
body
  font-family: "Arial", sans-serif
  font-size: 24px
  color: #444
  background-color: #ccc

.red
  color: red

.green
  color: gray

.blue
  color: royalblue

.yellow
  color: $black
  font-size: 40px
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 40px;

.black
  color: $black

.main-header
  &__title
    font-size: 40px
    text-transform: uppercase

  &__subtitle
    font-weight: normal;
    color: red

.main-content {
  padding: 80px 30px;
}